.home-container {
    display: flex;
    justify-content: space-between; /* Align columns horizontally with space between */
    align-items: start; /* Center items vertically */
    height: 100vh; /* Ensure the container takes up the full viewport height */
}


.all-home {
    
    display: grid;
    flex-direction: column; /* Align items in columns vertically */
}

.left-column,
.right-column {
    height: 100%;
    display: flex;
    flex-direction: column; /* Align items in columns vertically */
    align-items: left; /* Center items horizontally */
    justify-content: center; /* Center items vertically */
}

.circle {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border: 10px solid transparent;
    background: linear-gradient(to right, #D2FFA5, #B0FFDE, #B3E8FF, #D3B1FF, #FFB6D5, #FFB5B5);
    animation: rotate 10s linear infinite;
}

.svg-container {
    margin-top: 20px; /* Add some margin between the circle and the SVG */
}

/* Optional: Animation for rotation */
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}



.home-title {
    font-size: 70px;
    margin-top: 38px;
    background: linear-gradient(to right, #D2FFA5, #B0FFDE, #B3E8FF, #D3B1FF, #FFB6D5, #FFB5B5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.home-subtitle {
    font-size: 40px;
    margin-top: 12px;
    color: #fff;
}



.login-button {
    margin-top: 64px;
    width: 240px;
    height: 48px;
    background-color: #FB388A;
    border: none;
    border-radius: 20px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    line-height: 48px; /* Center text vertically */
    cursor: pointer;
}




.login-button:hover {
    background-color: #FF6090; /* Change background color on hover */
}



.logout-button {
    justify-self: right;
    width: 100px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 16px;
    margin-right: 20px;
    margin-top: 10px;
}

.logout-button:hover {
    color: #FF6090; /* Change color on hover */
}



.nav-text {
    margin-top: 2px;
    margin-bottom: 2px;
    margin-right: 8px;
    float: right;
    color: white;
    font-size: 16px;
    text-align: right;
    
}